{% include 'sitepc/partials/head.html' %}

<body>

    {% include 'sitepc/partials/header.html' %}
<!--    <br>
    {% include 'sitepc/partials/search.html' %} -->
    <br>
    {% include 'sitepc/partials/aviso.html' %}
    <br>
    {% include 'sitepc/partials/redes.html' %}
    <br>

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'sitepc/partials/corpo_lista.html' %}
        </div>
    </main>

</body>
<br>
{% include 'sitepc/partials/rodape.html' %}

</html>