<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include 'sitepc/partials/head.html' %}
    <title>{% block titulo %}{% endblock titulo %} | Em Manutenção</title>
</head>

<body>

    {% include 'sitepc/partials/header.html' %}
    {% include 'sitepc/partials/menu.html' %}
    <!--    <br>
    {% include 'sitepc/partials/busca.html' %} -->
    <br>
    {% include 'sitepc/partials/aviso.html' %}
    <br>
    {% include 'sitepc/partials/redes.html' %}
    <br>
    <main class="main-content-container">
        {% block home %}{% endblock home %}
    </main>

</body>
<br>
{% include 'sitepc/partials/rodape.html' %}

</html>