body{
    background-color: white;
    color: white;
    
}
.corpo{
    font-family: 'Franklin Gothic Medium',
     'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: black;
}
a{
    text-decoration: none;
}
ul{
    list-style: none
}
.cabeçalho{
    box-sizing: content-box;
}
