{% load static %}
{% load django_bootstrap5 %}

<div class="geral-corpo corpo-lista">
    <div class="corpo-cover">
        <img src="{% static 'sitepc/img/Pericia-Ambiental.jpg' %}" alt="Ambiental" class="img-corpo">
        <div class="corpo-titulo-container">
            <h2 class="corpo-titulo">Ambiental</h2><br>
            <div class="corpo-conteudo">
                <p> A perícia ambiental é um instrumento de prova disciplinada pelo Código de Processo Civil em que o
                    magistrado nomeia uma pessoa de sua confiança e com conhecimento técnico para a análise e
                    comprovação da veracidade de fatos. Ou seja, é uma comprovação técnica para a elucidação dos
                    processos ambientais por meio de laudos periciais elaborados em conjunto por profissionais de
                    diferentes áreas objetivando o caráter multidisciplinar para avaliação de cada espécie de dano.</p>
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="{% url 'home' %}">
            <i class="fas fa-eye"></i>
            <span>mais em breve</span>
        </a>
    </footer>
</div>

<div class="geral-corpo corpo-lista">
    <div class="corpo-cover">
        <img src="{% static 'sitepc/img/AdmJudicial1.jpeg' %}" alt="Adm" class="img-corpo">
        <div class="corpo-titulo-container">
            <h2 class="corpo-titulo">Administrador Judicial </h2><br>
            <div class="corpo-conteudo">
                <p> O administrador judicial é uma pessoa física ou jurídica (sob a responsabilidade de um
                    profissional)
                    nomeada pelo juiz para auxiliá-lo nos processos de recuperação judicial e falência, com as funções
                    de
                    levantamento e verificação de créditos e débitos, organização da Assembleia de Credores e fiscal das
                    atividades e dos pagamentos, servindo também como primeiro interlocutor com os credores, reduzindo a
                    necessidade de contatos, consultas e comparecimento destes no Foro.</p>
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="{% url 'home' %}">
            <i class="fas fa-eye"></i>
            <span>mais em breve</span>
        </a>
    </footer>
</div>

<div class="geral-corpo corpo-lista">
    <div class="corpo-cover">
        <img src="{% static 'sitepc/img/calculo.jpg' %}" alt="Calculo" class="img-corpo">
        <div class="corpo-titulo-container">
            <h2 class="corpo-titulo">Cálculos Judiciais</h2><br>
            <div class="corpo-conteudo">
                <p> Cálculos judiciais são formas de mensurar despesas relacionadas a um processo judicial, além de
                    dimensionar o valor desse processo. É por meio dele que se transforma uma demanda em números e
                    valores, alcançando-se o montante que é devido por uma ou ambas as partes.</p>
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="{% url 'home' %}">
            <i class="fas fa-eye"></i>
            <span>mais em breve</span>
        </a>
    </footer>
</div>

<div class="geral-corpo corpo-lista">
    <div class="corpo-cover">
        <img src="{% static 'sitepc/img/Documentoscopia.jpg' %}" alt="Documentoscopia" class="img-corpo">
        <div class="corpo-titulo-container">
            <h2 class="corpo-titulo">Documentoscopia</h2><br>
            <div class="corpo-conteudo">
                <p> A perícia documentoscópica é o trabalho realizado pelo profissional especialista na realização de
                    comparações científicas e na análise de elementos e características de documentos e materiais de
                    suporte, com o objetivo de verificar a fidedignidade documental. </p>
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="{% url 'home' %}">
            <i class="fas fa-eye"></i>
            <span>mais em breve</span>
        </a>
    </footer>
</div>

<div class="geral-corpo corpo-lista">
    <div class="corpo-cover">
        <img src="{% static 'sitepc/img/PeríciaComputacional.png' %}" alt="Informática" class="img-corpo">
        <div class="corpo-titulo-container">
            <h2 class="corpo-titulo">Informática</h2><br>
            <div class="corpo-conteudo">
                <p> A Perícia Informática envolve todos os métodos técnicos científicos para coleta,
                    identificação, validação, análise e interpretação de uma evidência digital para ações
                    cautelares ou defesa técnica, levando a impugnação ou confirmação de determinado
                    resultado pericial.</p>
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="{% url 'home' %}">
            <i class="fas fa-eye"></i>
            <span>mais em breve</span>
        </a>
    </footer>
</div>

<div class="geral-corpo corpo-lista">
    <div class="corpo-cover">
        <img src="{% static 'sitepc/img/pericia-grafotecnica.jpg' %}" alt="Grafoténica" class="img-corpo">
        <div class="corpo-titulo-container">
            <h2 class="corpo-titulo">Grafoténica</h2><br>
            <div class="corpo-conteudo">
                <p> A perícia grafotécnica (ou perícia de assinatura, como é conhecida) é um procedimento técnico, com
                    base na ciência da Grafocopia ou Grafotécnica, capaz de identificar a autoria de uma escrita. </p>
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="{% url 'home' %}">
            <i class="fas fa-eye"></i>
            <span>mais em breve</span>
        </a>
    </footer>
</div>