<div class="geral-corpo corpo-lista">
    <div class="corpo-cover">
        <div class="missao">
            <h1>Missão</h1><br>
            Ser uma empresa de excelência nas áreas de Perícia Judicial em Cálculos, Informática,
            Ambiental, Grafotécnica, Documentoscopia e Consultoria em Organizações, Sistemas e Métodos. Com
            qualidade, competência, agilidade e eficiência, propiciando as empresas e demais clientes à
            garantia de
            exatidão nos trabalhos solicitados.
        </div>
    </div>
</div>
<div class="main-content main-content-list container">
    <div class="geral-corpo corpo-lista">
        <div class="corpo-cover">
            <div class="missao">
                <h1>Visão</h1><br>
                Ser a principal referência no Brasil e Mercosul em serviços de Perícia Judicial e
                Consultoria,
                crescendo com sustentabilidade e ética social.
            </div>
        </div>
    </div>
</div>
<div class="main-content main-content-list container">
    <div class="geral-corpo corpo-lista">
        <div class="corpo-cover">
            <div class="missao">
                <h1>Valores</h1><br>
                Todo trabalho é executado com respeito, integridade, honestidade, responsabilidade,
                comprometimento com a moral e a ética, proporcionando transparência, confiança e
                determinação no
                compromisso assumido.
            </div>
        </div>
    </div>
</div>