{% load static %}


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- fontes -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">

<!-- Links CSS-->
<link rel="stylesheet" href="{% static 'sitepc/css/busca.css' %}">
<link rel="stylesheet" href="{% static 'sitepc/css/corpo.css' %}">
<link rel="stylesheet" href="{% static 'sitepc/css/menu.css' %}">
<link rel="stylesheet" href="{% static 'sitepc/css/redes.css' %}">
<link rel="stylesheet" href="{% static 'sitepc/css/rodape.css' %}">
<link rel="stylesheet" href="{% static 'sitepc/css/style.css' %}">

<!-- Jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha512-lzilC+JFd6YV8+vQRNRtU7DOqv5Sa9Ek53lXt/k91HZTJpytHS1L6l1mMKR9K6VVoDt4LiEXaa6XBrYk1YhGTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  function toggleMenu() {
    var nav = document.querySelector('.main-nav');
    var overlay = document.querySelector('.overlay');
  
    if (nav.style.right === '-250px') {
      nav.style.right = '0';
      overlay.style.display = 'block';
    } else {
      nav.style.right = '-250px';
      overlay.style.display = 'none';
    }
  }
  </script>
  