{% load static %}


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- fontes -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">

<!-- Links CSS-->
<link rel="stylesheet" href="{% static 'sitepc/css/busca.css' %}">
<link rel="stylesheet" href="{% static 'sitepc/css/corpo.css' %}">
<link rel="stylesheet" href="{% static 'sitepc/css/menu.css' %}">
<link rel="stylesheet" href="{% static 'sitepc/css/redes.css' %}">
<link rel="stylesheet" href="{% static 'sitepc/css/rodape.css' %}">
<link rel="stylesheet" href="{% static 'sitepc/css/style.css' %}">

<script src="js/jquery.js"></script>
<script>

  //Menu
  $(".main-nav ul li:has(ul)").addClass("submenu");
  $(".main-nav ul li:has(ul)").append("<i></i>");
  $(".main-nav ul i").click(function () {
    $(this)
      .parent("li")
      .toggleClass("open");
    $(this)
      .parent("li")
      .children("ul")
      .slideToggle();
  });
  //Menu Mobile
  $(".mob-btn").click(function () {
    if (!$("html").hasClass("show-menu")) {
      $("html").addClass("show-menu");
    } else {
      $("html").removeClass("show-menu");
    }
  });
  $(".overlay").click(function () {
    if ($("html").hasClass("show-menu")) {
      $("html").removeClass("show-menu");
    }
  });
  //Aparecer addClass
  $(".first ul")
    .clone()
    .prependTo(".main-nav")
    .addClass("desk-hide");
  $(".last ul")
    .clone()
    .appendTo(".main-nav")
    .addClass("desk-hide");
</script>