{% load static %}
<div class="container">
  <nav class="main-nav">

    <ul>

      <li><a href="{% url 'pericias:home' %}" title="Home">Home</a></li>

      <li><a href="/">Pericias</a>

        <ul>

          <li><a href="#" title="Adm Judicial">Adm Judicial</a></li>
          <li><a href="#" title="Ambiental">Ambiental</a></li>
          <li><a href="#" title="Calculos">Calculos</a></li>
          <li><a href="#" title="Documentoscopia">Documentoscopia</a></li>
          <li><a href="#" title="Grafotécnica">Grafotécnica</a></li>
          <li><a href="#" title="Informatica">Informatica</a></li>
        </ul>
      </li>

      <li><a href="/">Sobre Nós</a></li>
      <li><a href="/">Palestras</a>

        <ul>
          <li><a href="#" title="Custos">Custos</a></li>
          <li><a href="#" title="Precificação">Precificação</a>
          </li>
        </ul>
      </li>
      <li><a href="">Cursos</a>
        <ul>

          <li><a href="#" title="Excel Avançado">Excel Avançado</a>
            <ul>
              <li><a href="#" title="Company">Company</a></li>
              <li><a href="#" title="Grupo">Grupo</a></li>
              <li><a href="#" title="V.I.P.">V.I.P.</a></li>
            </ul>

          </li>


        </ul>
      </li>
      <li><a href="">Consultorias</a>
        <ul>
          <li><a href="#">Organização</a></li>
          <li><a href="#">Sistema</a></li>
          <li><a href="#">Metodo</a></li>
        </ul>
      </li>
      <li><a href="">Sistemas</a>
        <ul>
          <li><a href="#">Controle de Estoque</a></li>
          <li><a href="#">Gerenciamento de Bares e Restaurantes </a></li>
          <li><a href="#">Analise Financeira</a></li>
          <li><a href="#">Lavanderias</a></li>
          <li><a href="#">Hmaburquerias</a></li>
        </ul>
      </li>
      <li><a href="">Contato</a></li>
      <li><a href="">FAQ</a></li>


  </nav>
  <script src="{% static 'js/script.js' %}"></script>
  <div class="mob-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="overlay"></div>
</div><!-- menu -->