
        <div class="menu">
            <nav class="main-nav">
            
              <ul>
                
                <li><a href="/" title="Home">Home</a></li>
                
                <li><a href="/">Front-end</a>
                 
                    <ul>
                        
                        <li><a href="#" title="Html">Html</a></li>
                        <li><a href="#" title="Css">Css</a></li>
                        <li><a href="#" title="Jquery">Jquery</a></li>
                        <li><a href="#" title="Javascript">Javascript</a></li>
                    </ul>
                </li>
                
                <li><a href="">Back-end</a>
                
                    <ul>
                        <li><a href="#" title="PHP">PHP</a></li>
                        <li><a href="#" title="Python">Python</a>
                        <li><a href="#" title="Ruby">Ruby</a>
                        <li><a href="#" title="C++">C++</a></li>
                        <li><a href="#" title="Banco de Dados">Banco de Dados</a>
                        
                          <ul>
                            <li><a href="#" title="MySQL">MySQL</a></li>
                            <li><a href="#" title="MariaDB">MariaDB </a></li>
                          </ul>
                        
                        </li>
                        
                      
                    </ul>
                </li>
                <li><a href="#" title="Blog">Blog</a></li>
                <li><a href="#" title="Fale Conosco">Fale Conosco</a></li>
              
              </ul>
            
            </nav>
            <div class="mob-btn">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="overlay"></div>
          
        </div><!-- menu -->