{% load static %}

<div class="geral-corpo corpo-lista">
    <div class="corpo-cover">
        <img src="{% static 'sitepc/img/Pericia-Ambiental.jpg' %}" alt="Ambiental" class="img-corpo">
        <div class="corpo-titulo-container">
            <h2 class="corpo-titulo">{{pericia.title}}</h2><br>
            <div class="corpo-conteudo">
                <p>{{ pericia.description}}</p>
            </div>
        </div>
    </div>
    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="/pericias/3/">
            <i class="fas fa-eye"></i>
            <span>mais em breve</span>
        </a>
    </footer>
</div>
