
<main class="containter-redes">
    <div class="redes">
        <nav>
            <a href="https://www.linkedin.com/in/paulo-santos-07698059" target="_blank">
                <i class="fa fa-linkedin-square"></i>
            </a>
        </nav>
    </div>

    <div class="redes">
        <nav>
            <a href="https://api.whatsapp.com/message/SJ5XIP2HTHQNC1?autoload=1&app_absent=0" target="_blank">
                <i class="fa fa-whatsapp"></i>
            </a>
        </nav>
    </div>
    <div class="redes">
        <nav>
            <a href=" https://www.instagram.com/pc_pericias_e_consultorias/?utm_source=qr" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </nav>
    </div>
    <div class="redes">
        <nav>
            <a href="https://goo.gl/maps/Z1DGZ4viufmaKAYw9" target="_blank">
                <i class="fa fa-map-marker"></i>
            </a>
        </nav>
    </div>
    <div class="redes">
        <nav>
            <a href=mailto:contato@periciaseconsultorias.com.br target="_blank">
                <i class="fa fa-at"></i>
            </a>
        </nav>
    </div>
    <br>
    <br>
    <br>

    </div>
</main>