<main class="containter-redes">
    <div class="redes-geral">
        <div class="rede rede-linkedin">
            <a href="https://www.linkedin.com/in/paulo-santos-07698059" target="_blank">
                <i class="fa fa-linkedin-square"></i>
            </a>
        </div>
    
        <div class='rede rede-whatsapp'>
            <a href="https://api.whatsapp.com/message/SJ5XIP2HTHQNC1?autoload=1&app_absent=0" target="_blank">
                <i class="fa fa-whatsapp"></i>
            </a>
        </div>
    
        <div class='rede rede-instagram'>
            <a href=" https://www.instagram.com/pc_pericias_e_consultorias/?utm_source=qr" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    
        <div class='rede rede-maps'>
            <a href="https://goo.gl/maps/Z1DGZ4viufmaKAYw9" target="_blank">
                <i class="fa fa-map-marker"></i>
            </a>
        </div>
    
        <div class='rede rede-email'>
            <a href=mailto:contato@periciaseconsultorias.com.br target="_blank">
                <i class="fa fa-at"></i>
            </a>
        </div>
    
        <div class='rede rede-telegram'>
            <a href="https://t.me/+5535997649301" target="_blank">
                <i class="fa fa-telegram" aria-hidden="true"></i>
            </a>
        </div>
    </div>    
</main>