
.search-form {
    border: .15rem solid var(--color-black);
    max-width: 64rem;
    margin: 0 auto;
    border-radius: .4rem;
    position: relative;
    transition: all 350ms ease-in-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: .4rem;
    transition: all 350ms ease-in-out;
}

.search-input {
    width: 100%;
    padding-right: 3rem;

}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:focus {
    outline: 1px solid rgb(0, 13, 255);
    background-color: rgba(0, 0, 0, 0.14);
    border-radius: .4rem;
}

.search-form:focus-within {
    border-color: rgb(0, 13, 255);
    background-color: rgba(255, 255, 255, 0.7);
}

.search-form:focus-within .search-button {
    color: rgb(0, 13, 255);

}
